.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: #333;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    max-width: 100%;
    overflow: auto;
    word-wrap: break-word;
    padding: 2px 5px;
}
