.printTabList {
    display: none;
}

.screenTabList {
    display: block;
}

@media print {
    .tab {
        display: block;
    }

    .printTabList {
        display: block;
    }

    .screenTabList {
        display: none;
    }
}

