.printOnlyTitle {
    display: none;
    font-size: 150%;
}

@media print {
    .printOnlyTitle {
        display: block;
    }
}

.lecture {
    font-size: medium;
}
.lecture p {
    line-height: 1.5;
}

.lecture a:visited {
    color: grey;
}

.lecture h1, .lecture h2, .lecture h3, .lecture h4, .lecture h5, .lecture h6 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: "200%";
    font-weight: bold;
}

.lecture h2 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: "150%";
    font-weight: bold;
}

.lecture h3 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: "140%";
    font-weight: bold;
}

.lecture h4, .lecture h5, .lecture h6 {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: "120%";
    font-weight: bold;
}

.lecture p {
    margin: 1.5em 0;
}

.lecture ul, .lecture ol {
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.lecture ul {
    list-style-type: disc;
}

.lecture pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 0.5em solid #f36d33;
    color: #333;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 95%;
    line-height: 1.6;
    margin-bottom: 1em;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.lecture code {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 120%;
}

.lecture input, .lecture select {
    
    border-bottom: 0.2em solid #087F8C;
    background-color: #eee;
    border-radius: 0.2em 0.2em 0 0;
    color: black;
    padding: 0.2em 0.5em;
    height: 2em;
}

.lecture button {
    background-color: #eee;
    color: black;
}

.lecture strong {
    font-weight: bold;
}

.lecture em {
    font-style: italic;
}

.nav ul{
    margin-left: 1em;
    line-height: 200%;
    list-style-type: none;
}

.lecture blockquote {
    margin: 0 64px;
}

.lecture table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    color: #333;
}

tr:nth-child(even) {background: #CCC}

tr:nth-child(even) th {background: #B8DBD9}

tr:nth-child(odd) {background: #FFF}

tr:nth-child(odd) th {background: #D6EAE9}


.lecture td, .lecture th {
    padding: 0.8em;
    font-size: 85%;
}

.lecture thead th {
    font-weight: bold;
    color: white;
    background-color: #087F8C;
}

.lecture tbody th {
    font-weight: normal;
    color: black;
}

@media print {
    .tableOfContents {
        display: none
    }

    .paperSection {
        background-color: white;
        color: black;
        max-width: none;
    }

    .noPrint {
        display: none
    }
}

.paperSection {
    box-shadow: none;
    max-width: calc(100% - 16px);
}

.sectionTypeDefault {

}
.sectionTypeAside {
    a { color: white }
}
.sectionTypeExample {
    
}
.sectionTypeQuestion {
    a { color: white }
}
.sectionTypeChallenge {
    
}

@media print {
    .contentGrid{
        margin: 0;
        padding: 0;
    }
}