.codeBlk {
    border: 1px solid #ddd;
    border-left: 0.25em solid #f89917;
    padding-left:  1em;
    font-size: 85%;
    margin: 0.5em 0;
    background-color: #fefefe;
    position: relative;
}

.codeBlk .language {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 60%;
    line-height: 0;
    color: black;
}