.slideBox {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    font-size: 90%;
}

@media print {
    .keyPoint {
        color: white
    }
}

.slideBox > div {
    margin: 0.5em;
}

p, ul, ol {
    + .slideBox  {
        margin-top:0.5em;
    }
}

.slideBox h4 {
    font-size: 80%;
}

.slideBox  {
    
    + p {
        margin-top:0.5em;
    }

    + .slideBox  {
        margin-top: 0.5em;
    }
}