.keyPoint {
    background-color: #375D5D;
    display: flex;
    align-items: center;
    padding-right: 1em;
    color: white;
    border-radius: 0.5em;
}

@media print {
    .keyPoint {
        color: white
    }
}

.keyPoint > div {
    margin: 0.5em;
}
