.fullscreenSlides {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    color: white;
    background-color: black;
    overflow: hidden scroll;
    scroll-snap-type: y mandatory;
}